body {
  display: flex;
  background-image: url("../img/animatedclouds.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: blueviolet;
  max-height: 100%;
  justify-content: center;  
  font-family: 'Handlee', 'Indie Flower', 'Architects Daughter', 'Kalam','cursive', sans-serif;
  text-shadow: 1px 1px rgb(22, 97, 178);
}

#logo {
  display: flex;
  background-image: url("../img/datababylogo1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 800px;
  height: 180px;
  padding-bottom: 0;
  margin-top: 20px;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 3;
}

.intro {
  display: flex;
  width: 100%;
  height: 400px;
  padding: 10px;
  margin: 5px;
  justify-content: center;  
}

.instructions,
ul,
li {
  font-size: 18px;
  font-size: 24px;

}

.instructions,
ul {
  height: 600px; 
}

.instructions {
  width: 900px;

}

h1,
h2 {
  font-weight: 1000;
  margin: 10px 0;
}

p {
  font-size: 24px;
  font-weight: 700;
  text-align: justify;
  margin-bottom: 0;
}

.main-pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 1300px;
  height: 1000px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(231, 239, 240, 0.6);
  width: 1300px;
  max-height: 1000px;
  min-height: 600px;
  margin: 0;
}

form {
  justify-content: center;
  overflow: auto;
}

.form-row {
  display: flex;
  width: 1000px;
  height: 200px;
  padding: 5px 0;
}

.form-drop {
  display: flex;
  width: 1000px;
  height: 800px;
  padding: 5px 0;
}

.form-group {
  display: flex;
  width: 1000px;
  height: 50px;
  margin: 0;
}

.opt1-questions,
.opt2-questions,
.opt3-questions {
  height: 600px;
}

.col-sm-12 {
  display: flex;
  width: 1300px;
  font-size: 30px;
  font-weight: 16px;
}

.babies-img {
  display: flex;
}

#name1,
#origin-name1 {
  display: flex;
  width: 300px;
}

#starts-with,
#origin-starts-with {
  display: flex;
  flex-direction: column;
}

#babies-img {
  display: flex;
  margin: 40px 0;
}

.hidden {
  display: none;
}

#opt1-btn,
#opt2-btn,
#opt3-btn {
  background-color: rgb(49, 133, 16);
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.input-group-prepend,
#last-name {
  width: 300px;
}
#reset {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background-color: darkmagenta;
  font-size: 20px;
  font-weight: bolder;
}

/*---photobubbles code starts--------------*/

/*----image 1-----*/
.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: url("../img/greetings-baby1.jpg") no-repeat;
  background-size: cover;
  
}
.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px,url("../img/greetings-baby1.jpg") no-repeat 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}
.ball:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg); 
}
.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, url("../img/greetings-baby1.jpg") no-repeat, url("../img/greetings-baby1.jpg") no-repeat 40%, url("../img/greetings-baby1.jpg") no-repeat 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
    .ball.plain {
      background: black; }
      .ball.plain:before, .ball.plain:after {
        display: none; 
      }
        .ball.bubble {
          background: radial-gradient(circle at 50% 55%, url("../img/greetings-baby1.jpg") no-repeat, url("../img/greetings-baby1.jpg") no-repeat 40%, url("../img/greetings-baby1.jpg") no-repeat 60%), url("../img/greetings-baby1.jpg") no-repeat 40%, url("../img/greetings-baby1.jpg") no-repeat;
          -webkit-animation: bubble-anim 2s ease-out infinite;
          animation: bubble-anim 2s ease-out infinite; 
        }
.ball.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, url("../img/greetings-baby1.jpg") no-repeat, url("../img/greetings-baby1.jpg") no-repeat 0, url("../img/greetings-baby1.jpg") no-repeat 46%, url("../img/greetings-baby1.jpg") no-repeat 50%, url("../img/greetings-baby1.jpg") no-repeat 58%, url("../img/greetings-baby1.jpg") no-repeat 60%, url("../img/greetings-baby1.jpg") no-repeat 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, url("../img/greetings-baby1.jpg") no-repeat, url("../img/greetings-baby1.jpg") no-repeat 74%, url("../img/greetings-baby1.jpg") no-repeat 84%, url("../img/greetings-baby1.jpg") no-repeat 100%); 
    }
.stage {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

    /*----image 2-----*/

    .ball2 {
      display: inline-block;
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 50%;
      position: relative;
      background: url("../img/greetings-baby2.jpg") no-repeat;
      background-size: cover;
      
    }
    .ball2:before {
      content: "";
      position: absolute;
      top: 1%;
      left: 5%;
      width: 90%;
      height: 90%;
      border-radius: 50%;
      background: radial-gradient(circle at 50% 0px,url("../img/greetings-baby2.jpg") no-repeat 58%);
      -webkit-filter: blur(5px);
      z-index: 2;
    }
    .ball2:after {
      content: "";
      position: absolute;
      display: none;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 80%;
      border-radius: 100%;
      -webkit-filter: blur(1px);
      filter: blur(1px);
      z-index: 2;
      -webkit-transform: rotateZ(-30deg);
      transform: rotateZ(-30deg); 
    }
    .ball2 .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, url("../img/greetings-baby2.jpg") no-repeat, url("../img/greetings-baby2.jpg") no-repeat 40%, url("../img/greetings-baby2.jpg") no-repeat 50%);
        -webkit-transform: rotateX(90deg) translateZ(-160px);
        transform: rotateX(90deg) translateZ(-160px);
        z-index: 1; }
        .ball2.plain {
          background: black; }
          .ball2.plain:before, .ball.plain:after {
            display: none; 
          }
            .ball2.bubble {
              background: radial-gradient(circle at 50% 55%, url("../img/greetings-baby2.jpg") no-repeat, url("../img/greetings-baby2.jpg") no-repeat 40%, url("../img/greetings-baby2.jpg") no-repeat 60%), url("../img/greetings-baby2.jpg") no-repeat 40%, url("../img/greetings-baby2.jpg") no-repeat;
              -webkit-animation: bubble-anim 2s ease-out infinite;
              animation: bubble-anim 2s ease-out infinite; 
            }
    .ball2.bubble:before {
          -webkit-filter: blur(0);
          filter: blur(0);
          height: 80%;
          width: 40%;
          background: radial-gradient(circle at 130% 130%, url("../img/greetings-baby2.jpg") no-repeat, url("../img/greetings-baby2.jpg") no-repeat 0, url("../img/greetings-baby2.jpg") no-repeat 46%, url("../img/greetings-baby2.jpg") no-repeat 50%, url("../img/greetings-baby2.jpg") no-repeat 58%, url("../img/greetings-baby2.jpg") no-repeat 60%, url("../img/greetings-baby2.jpg") no-repeat 100%);
          -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
          transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
        .ball2.bubble:after {
          display: block;
          background: radial-gradient(circle at 50% 80%, url("../img/greetings-baby2.jpg") no-repeat, url("../img/greetings-baby2.jpg") no-repeat 74%, url("../img/greetings-baby2.jpg") no-repeat 84%, url("../img/greetings-baby2.jpg") no-repeat 100%); 
        }
    
/*----image 3-----*/
.ball3 {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: url("../img/greetings-baby3.jpg") no-repeat;
  background-size: cover;
  
}
.ball3:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px,url("../img/greetings-baby3.jpg") no-repeat 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}
.ball3:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg); 
}
.ball3 .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, url("../img/greetings-baby3.jpg") no-repeat, url("../img/greetings-baby3.jpg") no-repeat 40%, url("../img/greetings-baby3.jpg") no-repeat 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
    .ball3.plain {
      background: black; }
      .ball3.plain:before, .ball.plain:after {
        display: none; 
      }
        .ball3.bubble {
          background: radial-gradient(circle at 50% 55%, url("../img/greetings-baby3.jpg") no-repeat, url("../img/greetings-baby3.jpg") no-repeat 40%, url("../img/greetings-baby3.jpg") no-repeat 60%), url("../img/greetings-baby3.jpg") no-repeat 40%, url("../img/greetings-baby3.jpg") no-repeat;
          -webkit-animation: bubble-anim 2s ease-out infinite;
          animation: bubble-anim 2s ease-out infinite; 
        }
.ball3.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, url("../img/greetings-baby3.jpg") no-repeat, url("../img/greetings-baby3.jpg") no-repeat 0, url("../img/greetings-baby3.jpg") no-repeat 46%, url("../img/greetings-baby3.jpg") no-repeat 50%, url("../img/greetings-baby3.jpg") no-repeat 58%, url("../img/greetings-baby3.jpg") no-repeat 60%, url("../img/greetings-baby3.jpg") no-repeat 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball3.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, url("../img/greetings-baby3.jpg") no-repeat, url("../img/greetings-baby3.jpg") no-repeat 74%, url("../img/greetings-baby3.jpg") no-repeat 84%, url("../img/greetings-baby3.jpg") no-repeat 100%); 
    }

/*----image 4-----*/
.ball4 {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: url("../img/greetings-baby4.jpg") no-repeat;
  background-size: cover;
  
}
.ball4:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px,url("../img/greetings-baby4.jpg") no-repeat 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}
.ball4:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg); 
}
.ball4 .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, url("../img/greetings-baby4.jpg") no-repeat, url("../img/greetings-baby4.jpg") no-repeat 40%, url("../img/greetings-baby4.jpg") no-repeat 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
    .ball4.plain {
      background: black; }
      .ball4.plain:before, .ball.plain:after {
        display: none; 
      }
        .ball4.bubble {
          background: radial-gradient(circle at 50% 55%, url("../img/greetings-baby4.jpg") no-repeat, url("../img/greetings-baby4.jpg") no-repeat 40%, url("../img/greetings-baby4.jpg") no-repeat 60%), url("../img/greetings-baby4.jpg") no-repeat 40%, url("../img/greetings-baby4.jpg") no-repeat;
          -webkit-animation: bubble-anim 2s ease-out infinite;
          animation: bubble-anim 2s ease-out infinite; 
        }
.ball4.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, url("../img/greetings-baby4.jpg") no-repeat, url("../img/greetings-baby4.jpg") no-repeat 0, url("../img/greetings-baby4.jpg") no-repeat 46%, url("../img/greetings-baby4.jpg") no-repeat 50%, url("../img/greetings-baby4.jpg") no-repeat 58%, url("../img/greetings-baby4.jpg") no-repeat 60%, url("../img/greetings-baby4.jpg") no-repeat 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball4.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, url("../img/greetings-baby4.jpg") no-repeat, url("../img/greetings-baby4.jpg") no-repeat 74%, url("../img/greetings-baby4.jpg") no-repeat 84%, url("../img/greetings-baby4.jpg") no-repeat 100%); 
    }

/*----image 5-----*/
.ball5 {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: url("../img/greetings-baby6.jpg") no-repeat;
  background-size: cover;
  
}
.ball5:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px,url("../img/greetings-baby6.jpg") no-repeat 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}
.ball5:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg); 
}
.ball5 .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, url("../img/greetings-baby6.jpg") no-repeat, url("../img/greetings-baby6.jpg") no-repeat 40%, url("../img/greetings-baby6.jpg") no-repeat 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
    .ball5.plain {
      background: black; }
      .ball5.plain:before, .ball.plain:after {
        display: none; 
      }
        .ball5.bubble {
          background: radial-gradient(circle at 50% 55%, url("../img/greetings-baby6.jpg") no-repeat, url("../img/greetings-baby6.jpg") no-repeat 40%, url("../img/greetings-baby6.jpg") no-repeat 60%), url("../img/greetings-baby6.jpg") no-repeat 40%, url("../img/greetings-baby6.jpg") no-repeat;
          -webkit-animation: bubble-anim 2s ease-out infinite;
          animation: bubble-anim 2s ease-out infinite; 
        }
.ball5.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, url("../img/greetings-baby6.jpg") no-repeat, url("../img/greetings-baby6.jpg") no-repeat 0, url("../img/greetings-baby6.jpg") no-repeat 46%, url("../img/greetings-baby6.jpg") no-repeat 50%, url("../img/greetings-baby6.jpg") no-repeat 58%, url("../img/greetings-baby6.jpg") no-repeat 60%, url("../img/greetings-baby6.jpg") no-repeat 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball5.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, url("../img/greetings-baby6.jpg") no-repeat, url("../img/greetings-baby6.jpg") no-repeat 74%, url("../img/greetings-baby6.jpg") no-repeat 84%, url("../img/greetings-baby6.jpg") no-repeat 100%); 
    }

    /*----image 6-----*/
.ball6 {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: url("../img/greetings-baby5.jpg") no-repeat;
  background-size: cover;
  
}
.ball6:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px,url("../img/greetings-baby5.jpg") no-repeat 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}
.ball6:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg); 
}
.ball6 .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, url("../img/greetings-baby5.jpg") no-repeat, url("../img/greetings-baby5.jpg") no-repeat 40%, url("../img/greetings-baby5.jpg") no-repeat 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
    .ball6.plain {
      background: black; }
      .ball6.plain:before, .ball.plain:after {
        display: none; 
      }
        .ball6.bubble {
          background: radial-gradient(circle at 50% 55%, url("../img/greetings-baby5.jpg") no-repeat, url("../img/greetings-baby5.jpg") no-repeat 40%, url("../img/greetings-baby5.jpg") no-repeat 60%), url("../img/greetings-baby5.jpg") no-repeat 40%, url("../img/greetings-baby5.jpg") no-repeat;
          -webkit-animation: bubble-anim 2s ease-out infinite;
          animation: bubble-anim 2s ease-out infinite; 
        }
.ball6.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, url("../img/greetings-baby5.jpg") no-repeat, url("../img/greetings-baby5.jpg") no-repeat 0, url("../img/greetings-baby5.jpg") no-repeat 46%, url("../img/greetings-baby5.jpg") no-repeat 50%, url("../img/greetings-baby5.jpg") no-repeat 58%, url("../img/greetings-baby5.jpg") no-repeat 60%, url("../img/greetings-baby5.jpg") no-repeat 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball6.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, url("../img/greetings-baby5.jpg") no-repeat, url("../img/greetings-baby5.jpg") no-repeat 74%, url("../img/greetings-baby5.jpg") no-repeat 84%, url("../img/greetings-baby5.jpg") no-repeat 100%); 
    }

  .stage {
    float: center; 
  } 
/*---photo bubbles code ends------------------------------*/



/*----------------------------------resizing--------------------------------------------*/

/* for screens 1024 or less */
@media (max-width: 1024px) {
 
  #logo {
    width: 700px;
    height: 120px;
    padding: 0;
    margin: 10px 0;
    background-size: 100%;
  }

  .stage {
     height: 100px;
     width: 100px;
     margin: 10px;
   }


   .intro {
    height: 600px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    overflow: auto;
  }
  
  .instructions,
  ul {
    font-size: 14px;
  }

  h1,
  h2 {
    font-size: 35px;
    margin: 20px;
  }
  
  .main-pg {
    width: 800px;
    height: 1366px;
  }

  .container {
    width: 800px;
    height: 900px;
    overflow: hidden;
  }
  
  .flex-column {
    height: 800px;
    width: 100%
  }
  
  .col-sm-12 {
    display: flex;
    width: 700px;
    font-size: 20px;
    font-weight: 12px;
  }
  
  intro,
  form,
  .col-sm-12,
  .form-group,
  .row {
    width: 750px;
  }
}
 


/* for screens 980 or less */
@media (max-width: 980px) {
  
  .intro {
    height: 200px;
    padding: 2px;
    font-size: 12px;
    font-weight: 300;
  }
  
  h3 {
    font-size: 18px;
  }

  .instructions,
  ul {
    font-size: 12px;
    width: 300px;
    padding: 5px;
  }
  
  .main-pg,
  .container {
    width: 300px;
    height: 600px;
  }
  
  .flex-column {
    height: 200px;
  }
  
  .col-sm-12 {
    display: flex;
    font-size: 12px;
    font-weight: 8px;
  }
  
  form,
  .col-sm-12,
  .form-group,
  .row {
    width: 300px;
  }

}


/* for screens 768 or less */
@media (max-width: 768px) {

  #logo {
    width: 300px;
    height: 50px;
    background-size: 100%;
  }

  .stage {
    height: 40px;
    width: 40px;
    margin: 7px;
  }
}


/* for screens 640 or less */
@media (max-width: 640px) {

  #logo {
    width: 200px;
    height: 40px;
    margin: 5px 0;
  }

  .stage {
    margin: 3px;
  }
}